Source: servercontrol-mod-amavis
Section: admin
Priority: optional
Maintainer: Jan Gehring <jan.gehring@gmail.com>
Build-Depends: debhelper (>= 4), perl (>= 5.10.0), servercontrol (>= 0.100)
Standards-Version: 3.5.1
Homepage: https://github.com/servercontrol

Package: servercontrol-mod-amavis
Architecture: all
Depends: perl (>= 5.10.0), servercontrol (>= 0.100)
Description: ServerControl Amavis Module
